@CHARSET "UTF-8";

body{
	background-color: ##f5f5F7!important;
}
.header{	
	font-weight: normal;
	clear:both;
	overflow:hidden;
	padding:10px;
	background-color: #eeffee;
	color:red;
}

.logo{
	float:left;
}
.header .title{
	float:left;
	font-size:30px;
	margin-left:20px;
}
.logo img{
	margin-left:-9px;
}

.container{
	clear:both;
	overflow: hidden;
}
.container .view{
	margin-top:30px;
	float:left;
}
.container .sidebar{
	float:right;
	clear:right;
}


