@CHARSET "UTF-8";
/*
testapp.css in webroot
*/

.app_body{
	background: url(../images/bg.png) no-repeat scroll 0 -0px transparent;
	width:260px;
	height:260px;
	padding:10px;
}
.menu{
	overflow: hidden;
	height:30px;
}

.menu_item{
	float: left;
    height: 30px;
    padding-left: 36px;
    padding-top: 5px;
    width: 80px;
}

.menu .selected{
	background: url('../images/menu.png') no-repeat scroll 0 -0px transparent;
}